<!DOCTYPE html>
<html lang="en">
<!-- Head Tag -->
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="grid-container">
      <div class="item1">
        <a href="/" class="headerButton">North East Event 2024</a>
        <h2>A Camarilla Conclave</h2>
        <h2>Celestial Dreams!</h2>
        <h3>October 11-13, 2024</h3>
      </div>
      <div class="item2">
        <a href="/" class="buttonBox">Home</a><br>
        <a href="/register.html" class="buttonBox">Registration</a><br>
        <a href="https://www.facebook.com/groups/1908918412737267" class="buttonBox">Facebook Event Page</a><br>
        <a href="/schedule.html" class="buttonBox">Schedule</a><br>
        <a href="/covid.html" class="buttonBox">COVID-19 Policy</a><br>
        <a href="https://www.hilton.com/en/hotels/sfymagi-hilton-garden-inn-springfield-ma/" class="buttonBox">Hilton Garden Inn, Springfield, MA</a><br>
        <div class="spacerBox"></div>

      </div>
      <div class="item3 bostonBackground">
        {% block content %}{% endblock %}
      </div>  
      <div class="item4">
        <img src="static/imgs/trankh.png" class="imgBox">
      </div>
      <div class="item5">
        <div class="contentBox">
            <h6>
                The North East Event is hosted by <a href="https://www.puppetprince.com/chronicles/6-boston-cradle-of-liberty">Dark Colony: Boston</a><br>
                A chronicle of <a href="https://www.owbn.net">One World by Night</a><br>
                Website designed by <a href="https://www.arcanematrix.com">Arcane Matrix</a><br><br>
                <a href="https://www.paradoxinteractive.com/games/world-of-darkness/about">
                  Portions of the materials are the copyrights and trademarks of Paradox Interactive, and are<br> 
                  used with permission. All rights reserved. For more information please visit Paradox Interactive.
                </a>
            </h6>
        </div>
      </div>
    </div>
</body>
</html>
