{% extends "base.html" %}

{% block content %}

<p><h4>
Confirmation of being fully vaccinated against Covid-19 is mandatory for attendance (at least the original vaccine(s), 
boosters are not mandatory). The only exception will be for those who have documented medical exemptions due to 
allergies etc. Those who have a documented medical exemption will need to submit a negative Covid test taken no more 
than one day prior for a rapid test, no more than 3 days prior for a PCR test.
</h4>
</p>
<p>
<h4>
As per Boston's House Rules, if you have been exposed or have been around someone who lives with an individual 
who has Covid or has been exposed to Covid within the past five (5) days, you should not be showing up to the 
event. We have a significant number of players who either are themselves high risk or live with others who are. 
We understand that this is often outside of player control and are happy to provide full refunds for anyone who 
pre-paid that is unable to make the event because of this.
</h4>
</p>

{% endblock %}