{% extends "base.html" %}

{% block content %}

<h4>
    <p><li>PCs Permitted: Camarilla, Anarch, Independents, and Ghouls of those affiliations. If you have another genre of PC - such as Ashirra, Jati, Laibon, Kuei-Jin, etc please reach out to Staff to confirm if it will be permitted.</li></p>
    <p><li>Sheet Deadline: September 15th, 2024</li></p>
    <p><li>Character sheets should be sent to <a href="mailto:northeastevent@googlegroups.com">northeasteven@googlegroups.com</a> with your own Staff cc'd. We will confirm receipt for all sheets that are sent to us. If you do not receive one within 72 hours, please follow up.</li></p>
    <p><li>Please note, any walk-ins or sheets not received by the deadline will not be permitted any custom content.</li></p>
</h4>

{% endblock %}