{% extends "base.html" %}

{% block content %}

<div class="regBox">
    <div class="spacerBox"></div>
    <div class="regSubBox">
        Main Event Hotel:<br>
        <div class="spacerBox"></div>
        <h3>
        <a href="https://www.hilton.com/en/hotels/sfymagi-hilton-garden-inn-springfield-ma/">Hilton Garden Inn, Springfield, MA</a><br>
        </h3>
    </div>
    <div class="spacerBox"></div>
    <div class="spacerBox"></div>
    <div class="regSubBox">
        Overflow Room Block Hotel:
        <div class="spacerBox"></div>
        <h3>
        <a href="https://www.wyndhamhotels.com/laquinta/springfield-massachusetts/la-quinta-springfield-ma/">La Quinta Inn & Suites by Wyndham, Springfield, MA</a><br>
        Visit the <a href="/register.html" class="buttonBox">Registration Links</a> page for further details.
        </h3>
    </div>
</div>

{% endblock %}