{% extends "base.html" %}

{% block content %}

    <p><h4>
        Welcome to the annual North East Event! For 2024, we will be hosting a 
        Camarilla Conclave! 
    </p><p>
        This will be a gathering steeped in the intrigue and tradition of the 
        Vampire: The Masquerade setting. As you join us, you step into an 
        immersive experience full of ancient politics and the friction of a 
        supernatural society. Conclaves offer players the chance to 
        engage with their fellows, debate Camarilla doctrines, and maneuver 
        through the complex social hierarchies of the Kindred; all to guide the 
        future of the Camarilla genre within OWbN. Whether you're a seasoned 
        veteran of our Organization or new to the world of vampires, for this 
        weekend you will help write the next chapter in your character’s story
        as well as furthering our ever-evolving plot. Come, let the masquerade 
        begin and discover where your allegiances truly lie.
    </h4></p>
{% endblock %}