{% extends "base.html" %}

{% block content %}

<div class="regBox">
    <h5>
        <div class="spacerBox"></div>
        <div class="regButton">Book Your Hotel Room!</div>
        <a href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=SFYMAGI&groupCode=NEEV24&arrivaldate=2024-10-11&departuredate=2024-10-14&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT" class="regButtonLink">Room Block Link</a>
        <div class="spacerBox"></div>
        <div class="regButton">Event Registration</div>
        <a href="https://forms.gle/cLHFrsUbT7TZJPo97" class="regButtonLink">Registration Form</a>
        <div class="spacerBox"></div>
        <div class="regSubBox">Pay Event Fees</div>
        <div class="spacerBox"></div>
        <div class="regSubBox">
            <h4>
            <p>Event Fee: $60</p>
            <p>Visit <a href="https://www.paypayl.com">www.paypal.com</a> and send your event fee to Marc Lake using the address of nicolai.bardonia@gmail.com.</p>
            <p>You <b>must</b> select the <i>Friends & Family</i> option - if you select <i>For Goods & Services</i> you payment will be rejected.</p>
            <p>We are able to accept cash or PayPal at the door. If you are local, you may also prepay with cash at a Boston game.</p>
            <h4>
        </div>        
        <div class="spacerBox"></div>
    </h5>
</div>

{% endblock %}