{% extends "base.html" %}

{% block content %}

<div class="regBox">
        <div class="spacerBox"></div>
        <div class="regSubBox">
            Book Your Hotel Room!<br>
            <h5>
                <p>The room block at the Event's hotel, the Hilton Garden Inn, is now full. 
                    There is an event going on next door at the Basketball Hall of Fame.
                    We were able to secure a second room block at a nearby hotel that's only 2 miles away
                </p>
            </h5>
            La Quinta Inn & Suites by Wyndham, Springfield, MA<br>
            <a href="https://www.wyndhamhotels.com/laquinta/springfield-massachusetts/la-quinta-springfield-ma/rooms-rates?brand_id=LQ&checkInDate=10/11/2024&checkOutDate=10/14/2024&useWRPoints=false&children=0&groupCode=101124SOP&adults=1&rooms=1&loc=ChIJH7jkCCzm5okRvaq5QdoIGB0&sessionId=1718719651" class="regButtonLink">Hotel Link*</a>
            <h4>
                <ul>
                    <li>...or you can call the Booking Phone Number: (413)781-0900, mention the group name and group code: 101124SOP</li>
                    <li>Group Name: North East Event</li>
                    <li>Arrival Date: Friday, October 11, 2024</li>
                    <li>Departure Date: Monday, October 14, 2024</li>
                    <li>Rates: Friday and Saturday: $199/night</li>
                    <li>Sunday: $134.00</li>
                    <li>Room Block Closes: September 20, 2024</li>
                    <li>The rooms are 2 Queen Beds but if you need just a King bed we can reach out to get that arranged. <br>
                        Reach out to Mel for any help needed with the hotels as she is the event coordinator through both hotels (<a href="mailto:sophiasdaughter@gmail.com">sophiasdaughter@gmail.com</a>). 
                    </li><br>
                    * dates of stay can be finalized during the reservation process</li>
                </ul>
            </h4>
        </div>
        <div class="spacerBox"></div>
        <div class="regSubBox">
            Event Registration<br>
            <div class="spacerBox"></div>
            <a href="https://forms.gle/cLHFrsUbT7TZJPo97" class="regButtonLink">Registration Form</a>
            <div class="spacerBox"></div>
        </div>
        <div class="spacerBox"></div>
        <div class="regSubBox">
            Pay Event Fees
            <h4>
                <ul>
                    <li>Full Weekend Event Fee: $60</li>
                    <li>One Day Event Fee: $25</li>
                    <li>Visit <a href="https://www.paypayl.com">www.paypal.com</a> and send your event fee to Marc Lake using the address 
                        of nicolai.bardonia@gmail.com.<br>
                        You <b>must</b> select the <i>Friends & Family</i> option - if you select <i>For Goods & Services</i> your 
                        payment will be rejected.</li>
                    <li>We are able to accept cash or PayPal at the door. If you are local, you may also prepay with cash at a Boston game.</li>
                </ul>
            <h4>
        </div>        
        <div class="spacerBox"></div>
        <div class="spacerBox"></div>
</div>

{% endblock %}