{% extends "base.html" %}

{% block content %}

<div class="regBox">
    <h5>
        <div class="regButton">Book Your Hotel Room!</div>
        <a href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=SFYMAGI&groupCode=NEEV24&arrivaldate=2024-10-11&departuredate=2024-10-14&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT" class="regButtonLink">Room Block Link</a>
        <div class="spacerBox"></div>
        <div class="regButton">Pay Event Fees</div>
        <div class="regButtonLink">Coming Soon!</div>
    </h5>
</div>

{% endblock %}