/* Main body style*/
body {
	background: black;
	color: red;
	font-family: Verdana, Arial, sans-serif;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { 
	align-self: stretch;
	grid-area: main; 
}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  width:95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    'header header header header header header header'
    'menu main main main main main right'
    'footer footer footer footer footer footer footer';
  gap: 1px;
  background-color: black;
  padding: 1px;
}

.grid-container > div {
  background-color: dimgrey;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* h1, h2, h3 Styles */
h1 {
	color: gainsboro;
	font-size: 42px;
	font-family: Arial;
	text-align: center;
	text-shadow: 4px 4px 6px black, 0 0 45px grey, 0 0 15px white;
}

h2 {
	font-size: 28px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-size: 24px;
	font-family: Arial;
	text-align: center;
}

h4 {
	font-size: 18px;
	font-family: Arial;
	text-align: justify;
}


h5 {
	text-align: center;
}

h6 {
	color: black;
	font-size: 12px;
	font-family: Arial;
	text-align: center;
}

/* Link Styles */
a:link {
	color: ivory;
}

a:visited {
	color: gainsboro;
}

a:hover {
	color: red;
}

a:active {
	color: red;
}


/* Various boxes that get used */
.lineBox{
	width: 75%;
	height: 1px;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}

/* Spacer box, used to add in extra space */
.spacerBox{
	width: 90%;
	height: 40px;
}

.contentBox{
	width: 75%;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}

.buttonBox{
	background: transparent;
	vertical-align: top;
	position: relative;	
	display:inline-block;
	height: auto;
	width: 200px;
	border: 1px;
	margin: auto;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 4px 4px 6px black, 0 0 45px maroon, 0 0 15px red;
	border-top-left-radius: 15% 50%;	
	border-top-right-radius: 15% 50%;	
	border-bottom-left-radius: 15% 50%;	
	border-bottom-right-radius: 15% 50%;
}

.buttonBox:hover {
	background-color: lightgrey;
	color: white;
	border: 0px;
}

.headerButton{
	height: auto;
	width: 500px;
	border: 0px solid;
	color: gainsboro;
    font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px black, 0 0 45px maroon, 0 0 15px red;
	margin: auto;
	text-decoration: none;
}

.headerButton:hover {
	background-color:rgba(128, 128, 128, 0.5);
	text-shadow: 6px 6px 8px black, 0 0 45px firebrick, 0 0 20px crimson;
	color: beige;
	border: 0px solid;
	border-top-left-radius: 50% 50%;	
	border-top-right-radius: 50% 50%;	
	border-bottom-left-radius: 50% 50%;	
	border-bottom-right-radius: 50% 50%;
}

.subTitleBox{
	height: auto;
	width: 500px;
	border: 0px solid;
	color: snow;
    font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px black, 0 0 45px maroon, 0 0 15px red;
	margin: auto;
	text-decoration: none;
}

/* Base Contents */

