/* Main body style*/
body {
	background: linear-gradient(90deg, indigo, midnightblue);
	color: white;
	font-family: Verdana, Arial, sans-serif;
}

.bostonBackground {
	width: 100%;  /* Define width and height as per requirement */
	background-image: 
	radial-gradient(circle at center, transparent, navy 90%, rgba(0,0,0,1)),
	url(../imgs/skyline.jpg);
	background-repeat: no-repeat, no-repeat; /* No repeat for both layers */
	background-position: center, center;     /* Both layers centered */
	background-size: cover, cover;           /* Both layers cover the entire container */
}

.item1 { 
	/*header*/
	grid-area: h; 
}
.item2 { 
	/*menu*/
	grid-area: m; 
}
.item3 { 
	/*body*/
	grid-area: b; 
	align-self: stretch;
	border: 5px double darkmagenta;
	border-top-left-radius: 15% 25%;
	border-top-right-radius: 15% 25%;
	border-bottom-left-radius: 15% 25%;
	border-bottom-right-radius: 15% 25%;
	box-shadow: 5px 5px 5px 2px black, 5px 5px 5px 2px purple;
}

.item4 { 
	/*right side*/
	grid-area: r;
}

.item5 { 
	/*footer*/
	grid-area: f;
}

.grid-container {
  width:95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
	'h h h h h h h h h h'
	'm b b b b b b b b r'
	'm f f f f f f f f r';
  gap: 3px;
  padding: 5px 0;
  border: 3px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* h1, h2, h3 Styles */
h1 {
	color: gainsboro;
	font-size: 42px;
	text-align: center;
	text-shadow: 6px 6px 8px black, 0 0 45px grey, 0 0 15px white;
}

h2 {
	font-size: 34px;
	font-weight: bold;
	color: snow;
	font-weight: bold;
	text-align: center;
	text-shadow: 6px 6px 8px darkblue, 0 0 45px darkorchid, 0 0 20px purple;
	margin: auto;
	text-decoration: none;}

h3 {
	font-size: 24px;
	color: snow;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px darkblue, 0 0 45px darkorchid, 0 0 20px purple;
	margin: auto;
	text-decoration: none;
}

h4 {
	font-size: 18px;
	color: snow;
	text-align: justify;
	text-justify: inter-word;
	padding: 20px;
}

h5 {
	font-size: 24px;
	color: snow;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

h6 {
	color: plum;
	font-size: 12px;
	text-align: center;
}

/* Link Styles */
a:link {
	color: lightblue;
	text-decoration: none;
}

a:visited {
	color: lightskyblue;
}

a:hover {
	color: steelblue;
}

a:active {
	color: purple;
}

.contentBox{
	background: linear-gradient(90deg, mediumslateblue, midnightblue);
	border: 5px double darkmagenta;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 5px 2px black, 5px 5px 5px 2px purple;
}

.imgBox{
	max-width: 200px;
	padding: 10px;
}

.buttonBox{
	background: transparent;
	vertical-align: top;
	position: relative;	
	display:inline-block;
	height: auto;
	max-width: 200px;
	border: 1px;
	margin: auto;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	text-shadow: 4px 4px 6px mediumpurple, 0 0 45px blue, 0 0 15px dodgerblue;
	border-top-left-radius: 15% 50%;	
	border-top-right-radius: 15% 50%;	
	border-bottom-left-radius: 15% 50%;	
	border-bottom-right-radius: 15% 50%;
}

.buttonBox:hover {
	background-color: grey;
	color: lightblue;
	border: 0px;
}

.headerButton{
	height: auto;
	width: 500px;
	border: 0px solid;
	color: gainsboro;
    font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px 4px 6px mediumpurple, 0 0 45px blue, 0 0 15px dodgerblue;
	margin: auto;
	text-decoration: none;
}

.headerButton:hover {
	background-color:rgba(128, 128, 128, 0.5);
	text-shadow: 6px 6px 8px darkblue, 0 0 45px darkorchid, 0 0 20px purple;
	color: beige;
	border: 0px solid;
	border-top-left-radius: 50% 50%;	
	border-top-right-radius: 50% 50%;	
	border-bottom-left-radius: 50% 50%;	
	border-bottom-right-radius: 50% 50%;
}

.regBox {
	width: 100%;
}

.regSubBox{
	background-color: black;
	border: 1px solid;
	border-color: white;
	width: 96%;
	display: inline-block;
	padding: 2px;
}

.regButton{
	background-color: black;
	border: 1px solid;
	border-color: white;
	width: 48%;
	display: inline-block;
	padding: 2px;
}

.regButtonLink{
	background-color: black;
	border: 1px solid;
	border-color: white;
	width: 48%;
	display: inline-block;
	padding: 2px;
}

.regButtonLink:hover {
	background-color: ivory;
	border-color: black;
}

.lineBox{
	width: 75%;
	height: 1px;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}

/* Spacer box, used to add in extra space */
.spacerBox{
	width: 90%;
	height: 40px;
}

